<div ng-if="myInfoCtrl.showUser()">
    <div class="container" style="text-align: center; color: aliceblue; justify-content: center;">
        <legend style="color: aliceblue;">Your information</legend>
        <h4>First Name: {{myInfoCtrl.user.firstName}}</h4>
        <h4>Last Name: {{myInfoCtrl.user.lastName}}</h4>
        <h4>Email: {{myInfoCtrl.user.email}}</h4>
        <h4>Phone number: {{myInfoCtrl.user.phone}}</h4>
        <br>
        <div class="card" style="align-content: center; width: 400;">
            <div class="container">
                <h4><b>Favorite dish:</b></h4>
                <img width="200" height="200"
                    ng-src="images/menu/{{myInfoCtrl.menuItem.category_short_name}}/{{myInfoCtrl.menuItem.category_short_name}}.jpg"
                    alt="Avatar">
                <h4><b>Name: {{myInfoCtrl.menuItem.name}}</b></h4>
                <p>Description: {{myInfoCtrl.menuItem.description}}</p>
            </div>
        </div>
    </div>
</div>
<div ng-if="!(myInfoCtrl.showUser())">
    <div class="container" style="text-align: center; color: aliceblue; justify-content: center;">
        <h3>Not Signed Up Yet. <a ui-sref="public.signup">Sign up Now</a> !</h3>
    </div>
</div>